.picker {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border: 2px solid black;
  justify-content: space-evenly;
}

.picker p {
  margin: 1rem;
}

.picker-item {
  height: 60px;
  width: 60px;
}
